<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WAT Deli | {{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <p>
        Here are the cheeses we currently have in stock!
    </p>
    {% if vegan_list %}
    <p>
        We have an excellent range of vegan cheese.
    </p>
    {% endif %}

    <ol>
        {% for cheese in cheeses %}
            <li>
                <a href="{% url 'cheese_counter:cheese_detail' cheese.slug %}">{{ cheese.name }}</a>
            </li>
        {% endfor %}
    </ol>
    <p>
        <a href="{% url 'home' %}">WAT Deli Home</a>
    </p>
</body>
</html>
